
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTWanjudaedunsancheB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

*{
  font-family: 'SUITE-Regular';
  margin: 0px;
  padding: 0px;

}
#App{
  position: relative;
}
#wrap{
  transition: 0.35s linear;
  opacity: 0;

}
#first{
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0%;
  top: 0%;
  color: white;
  font-size: 23px;
  transition: 0.35s linear;

  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
#first h1{
  transform: translate(0px,-60px);
  position: relative;
  font-family: 'TTWanjudaedunsancheB';
}
@keyframes ani{
  0%{
    right: 0%;
  }
  70%{
    background-color: gold;
  }
  100%{
    right: 90%;
    background-color: white;
  }
}

@keyframes ani2{
  0%{
    right: 80%;
  }
  70%{
    background-color: gold;
  }
  100%{
    right: 0%;
    background-color: white;
  }
}
#first h1::before{
    content: '';
    right: 90%;
    top: -65%;
    animation: ani2 2.4s;
}
#first h1::after{
    content: '';
    animation: ani 2.4s;
    position: absolute;
    right: 0%;
    bottom: -65%;
}
#first h1::before,#first h1::after{
    background-color: gold;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}